body {
    
}


/*ajout sam*/

body {
    margin: 0;
    padding: 0;
}


:root {
    --purple: #743550;
    --yellow-clear: #F9E76E;
    --black: #323131;
    --blue-light: #96D2EC;
    --red: #BF354E;
    --border-button: 2px solid;
    --shadow-button: 0px 8px 25px -10px rgba(0,0,0,0.26);
}

#allproduct {
    display: block;
    margin: auto;
}

#product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#descrip {
    display: flex;
    align-self: flex-start;
}

#descrip p {
    margin: 20px;
    font-size: 30px;
    
}


.btn--purple {
    background: var(--purple);
    color: white;
}

#yaourt {
    width: 300px;
}
body .catalog-detail-image{
    background:none;
}

#photo_product {
    margin-left: 180px;
}

#technical_product {
    display: flex;
    justify-content: start;
}

#alltechnical{
    margin-left: 100px;
}

.composition_origin_fiche label {
    color: #733450;
    padding-bottom: 23px;
    border-bottom: solid 1px #733450;
    padding-bottom: 5px;
}

.composition_origin_fiche p {
    width: 480px;
}

#file {
    display: flex;
}

#file img {
    margin-right: 20px;
}

#stock {
    color: #39A25D;
    font-size: 15px;
}

body .aimeos .btn--yellow-clear {
    background: var(--yellow-clear);
    width: 170px;
}

.delivery {
    display: flex;
    align-items: center;
}

#deliver {
    display: flex;
    margin-top: 30px;
}


.cercle{
    background: transparent;
    border-radius:50%;
    width: 69px;
    height: 60px;
    border:2px solid #733450; 
    margin-right: 12px;
}

.cercle.for_home {
    margin-left: 12px;

}

.cercle.for_truck img {
    margin-left: 15px;
    margin-top: 9px;
    width:60%;
}

.cercle.for_home img {
    margin-left: 13px;
    width:65%;
    margin-top: 6px;
}

.button_number {
    text-align: center;
    
}

#form_crease {
    height: 50px;
    margin-left: 29px;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .plusmoins{
      display:flex;
      margin-bottom:10px;
      align-items:center;
  }

  .plusmoins button{
      height: 25px;
      margin:0px 10px;
      border-radius:8px;
  }
  .aimeos .addbasket .plusmoins input{
      border-color:lightgrey;
      width:60px;
  }

  body .catalog-detail-basic h1.name{
    font-size: 30px;
    color:black;
  }

  .catalog-stage-navigator a{
      color:white;
      font: 400 11px system-ui;
  }
  .catalog-stage-navigator nav{
      display:flex;
      justify-content: space-around;
  }
  .plusmoins div{
      border:1px solid lightgray;
      padding:10px;
      border-radius:5px;
      margin:0px 15px;
      cursor: pointer;
  }
  .plusmoins div:first-child{
margin-left:0px;
  }

  /*Ajout sam menu header*/

header {
    background-color: #F9E76E;
    padding:5px 0;
    width:100vw;
}

.logo {
   
    margin-left: 5%;
}

.container {
    display: flex;
}
/*Bah oui on a qua toucher a toutes les kinputs du site sérieusement cxest quoi leur pbm*/
/* input {
    height: 63px;
    margin-left: 10%;
    display:block;
    border:none;
    border-bottom:1px solid #000000;
    width:20%;
    background-color: #F9E76E;
} */


/* .fa-shopping-cart {
    height: 25px;
    width: 25px;
    margin-top: 1.7%;
    font-size: 28px;
    margin-left: 3%;
} */

.submenu {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #707070;
}

.background_purple:hover {
    background: #733450;
    color: white;
}

.background_purple {
    width: 300px;
    text-align: center;
    font-size: 10px;
}

.background_purple a {
    text-decoration: none;
    color: #707070;
}

.background_purple a:hover {
    text-decoration: none;
    color: white;
}

.image_home {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url("img/Pictos-img/Accueil/image_modifier.PNG"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.image_home-text {
    margin-left: 5%;
    margin-top: 2.5%;
}

.image_home-produits {
    margin-top: 1%;
}

.section {
    margin-top: 10%;
    height: 500px;
    /* background-color: red; */
}

.rectangle_purple {
    position: absolute;
    height: 400px;
    width: 70%;
    background: #A88888;
    margin-top: 4%;
    margin-left: 10%;
}

.list {
    width: 18%;
    height: 5%;
    background: #F9E76E;
    position: absolute;
    margin-top: 17%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.pattern2 {
    width: 100%;
    margin-top: 10%;
}

.title_producteur {
    display: flex;
    flex-direction: row;
    margin-top: 10%; 
    margin-left: 5%;
}

.button_background-purple {
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px;
    background: #733450;
    border: 0px;
    color: white;
}

.precedent {
    margin-left: 8%;
}

.suivant {
    margin-left: 2%;
}

.container_slide-second {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 10px #000000;
    border-radius: 1px;
    overflow: hidden;
    height: 350px;
    position: relative;
}

.container_silde-third {
    position: relative;
    width: 100%;
    height: 175px;
    bottom: 0;
    overflow: hidden;
}

.container_slide-second img {
    width: 300px;
    height: 175px;
}

.description_picture {
    margin-left: 5%;
    margin-top: 5%;
}

.description_picture-adress {
    color: #7C7C7C;
}

.description_picture-place {
    margin-top: 5%;
}

.button_background-yellow {
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px;
    background: #F9E76E;
    border: 0px;
}

.description_picture button {
    margin-top: 10%;
    margin-left: 17%;
}

.container_slide {
    display: flex;
    flex-direction: row;
}

.final_section {
    border-bottom: 1px solid #F9E76E;
    border-top: 1px solid #F9E76E;
    margin-top: 10%;
}

.container_comand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items:center;
    background-image:url('/files/img_home_footer.png');
    background-position: left;
}

.container_comand-btn {
    margin-top: 10%;
}

.mearicon {
    height:150px;
    width: 150px;
}

.command_month {
    color: #733450;
}

.before_button {
    margin-top: 10%;
}

.Commandez {
    width: 210px;
    margin-top: 5%;
}

.pattern {
    height: 100%;
    width: 300px;
}

/*Fin ajout sam menu header*/

body .content_header{
    display:flex;
    justify-content: space-between;
    padding:15px 0;
    align-items: center;
}

body .submenu div{
    padding:15px 0;
}
body .navbar{
    margin-bottom:0px;
}
body .catalog-filter-search .value{
    background-color: transparent;
    width:100%;
    border:0;
}

body .input-group .glass{
    background-image: url('/files/glass.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border:0px;
    height:30px;
}

.aimeos .input-group .glass:hover{
    background-color: transparent;
    border:0px;
}

.aimeos .search_head {
    width: 150%;
}
body .home_head{
    width:100vw;
    height:45vh;
    padding-top:5vh;
    background-image: url('/files/back_home_fruits.png');
    background-repeat: no-repeat;
    background-position:center;
}
.pres_home{
    display:flex;
    margin-top:10vh;
    align-items: center;
}

.video_home{
    width:70%;
    height:45vh;
    margin-left:12%;
    
    background-color:#A88888;
}
.pres_home img{
    width:182px;
    height:238px;
}

.bande{
    width:100vw;
    height:128px;
    background-image: url('/files/banner_filigrane.png');
}
.catalog-filter-search .ui-autocomplete-input{
    font-size: 10px;
    color:black;
}
body .fos_user_registration_register{
   display: flex;
   flex-direction: column;
width:70%;
margin:auto;
align-items: center;
}
body .fos_user_registration_register div div{
    display:flex;
    justify-content: space-around;
}

body .home_head{
    width:100vw;
    height:45vh;
    padding-top:5vh;
    background-image: url('/files/back_home_fruits.png');
    background-repeat: no-repeat;
    background-position:center;
}
.pres_home{
    display:flex;
    margin-top:10vh;
    align-items: center;
}

.video_home{
    width:70%;
    height:45vh;
    margin-left:12%;

    background-color:#A88888;
}
.pres_home img{
    width:182px;
    height:238px;
}

.bande{
    width:100vw;
    height:128px;
    background-image: url('/files/banner_filigrane.png');
}

body .fos_user_registration_register{
   display: flex;
   flex-direction: column;
width:70%;
margin:auto;
align-items: center;
}
body .fos_user_registration_register div div{
    display:flex;
    justify-content: space-around;
}

body .catalog-list .product{
    border:0;
}

body .aimeos .product .text-list h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color:#354F90;
    font-size:1.3em;
}
body .aimeos .price-list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.6em;
}
.header-nav{
    background-color:var(--yellow-clear);
}
body .catalog-session-pinned{
    display: none;
}
.catalog-stage-navigator a{
    background-color:var(--purple);
    color:white;
}
body .aimeos .catalog-stage-navigator a:link:not(.btn), body .aimeos .catalog-stage-navigator a:visited:not(.btn){
    background-color:var(--purple);
    color:white;
    padding:10px 20px;
    border-radius:8px;
}

body .aimeos .add_panier,
body .aimeos .add_panier:hover{
    background-color:var(--yellow-clear);
    border:0;
    color:black;
}
body .buttons_product{
    display:flex;
}



.logo {
   width:60%;
    margin-left: 5%;
}

.container {
    display: flex;
   align-items: center;
   justify-content: space-around;
   width:100%;
}


body .basket-mini {
    background-color:transparent;
    color: black;
}
.basket-mini > a:before {
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: middle;
    content: "\f07a";
    font-size: 220%;
    color: black;
}
body .aimeos a:link:not(.btn), body .aimeos a:visited:not(.btn) {
    color: black;
}
input {
    /* margin-left: 10%; */
    display:block;
    border:none;
    border-bottom:1px solid #000000;
    width:20%;
    background-color: #F9E76E;
}
.basket-mini a:hover{
    text-decoration: none;
}
.basket-mini .search{
    display: none;
}
.search {
    height: 25px;
    width: 25px;
   margin-left:19%;
}
.basket-mini-main span,
.basket-mini-product .basket-toggle.toggle-close:after,
.basket-mini-product .basket-toggle.toggle-open:after{
    color:black;
}

.catalog-filter-search input{
    box-shadow: none;
    color:black;
}
.catalog-filter-search{
    border-bottom: 1px solid black;
}
.submenu {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #707070;
}

.background_purple:hover {
    background: #733450;
    color: white !important;
}

.background_purple {
    width: 300px;
    text-align: center;
    font-size: 10px;
}

.background_purple a {
    text-decoration: none;
    color: #707070;
}

.background_purple a:hover {
    text-decoration: none;
    color: white;
}

.image_home {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("/files/img/Pictos-img/Accueil/image_modifier.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.image_home-text {
    margin-left: 5%;
    margin-top: 2.5%;
}

.image_home-produits {
    margin-top: 1%;
}

.section {
    margin-top: 10%;
    height: 500px;
    /* background-color: red; */
}

.rectangle_purple {
    position: absolute;
    height: 400px;
    width: 70%;
    background: purple;
    margin-top: 4%;
    margin-left: 10%;
}

.list {
    width: 18%;
    height: 5%;
    background: #F9E76E;
    position: absolute;
    margin-top: 17%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.pattern2 {
    width: 100%;
    margin-top: 10%;
}

.title_producteur {
    display: flex;
    flex-direction: row;
    margin-top: 10%; 
    margin-left: 5%;
}

.button_background-purple {
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px;
    background: #733450;
    border: 0px;
    color: white;
}

.precedent {
    margin-left: 8%;
}

.suivant {
    margin-left: 2%;
}

.container_slide-second {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 10px #000000;
    border-radius: 1px;
    overflow: hidden;
    height: 350px;
    position: relative;
}

.container_silde-third {
    position: relative;
    width: 100%;
    height: 175px;
    bottom: 0;
    overflow: hidden;
}

.container_slide-second img {
    width: 300px;
    height: 175px;
}

.description_picture {
    margin-left: 5%;
    margin-top: 5%;
}

.description_picture-adress {
    color: #7C7C7C;
}

.description_picture-place {
    margin-top: 5%;
    text-align: center;
}

.button_background-yellow {
    padding: 10px 15px;
    border-radius: 10px;
    width: 170px;
    background: #F9E76E;
    border: 0px;
}

.description_picture button {
    margin-top: 10%;
    margin-left: 17%;
}

.container_slide {
    display: flex;
    flex-direction: row;
}

.final_section {
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
    margin-top: 10%;
}

.container_comand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.container_comand-btn {
    margin-top: 10%;
}

.mearicon {
    height: 350px;
    width: 350px;
}

.command_month {
    color: #733450;
}

.before_button {
    margin-top: 10%;
}

.Commandez {
    width: 210px;
    margin-top: 5%;
}

.pattern {
    height: 100%;
    width: 300px;
}

footer {
    /* margin-top: 10%; */
    background: #5C5B59;
    color: white;
}

.footer_div-main {
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.footer_div {
    margin: 10vh 0;
    width:60%;
    display: flex;
    justify-content: space-around;
}

.footer_div-first {
    margin-left: 5%;
}

.basket-standard-coupon{
    display:none;
}
body .aimeos .btn-primary,
body .aimeos .btn-primary:hover{
    background-color:var(--yellow-clear);
    border:1px solid #ccc;
    color:black;
    width:20vw;
}
.aimeos .common-summary-detail td.quantity input{
    background-color: transparent;
}
.coupon{
    display:none;
}
.footer_div-first img {
    margin-top: 10%;
    height: 20px;
    width: 20px;
}


.accessibility {
    background-color: #F9E76E;
    /* margin-top: 15%; */
    /* margin-left: 25%; */
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub label{
    font-weight: 100;
    margin-bottom: 0;
    width:50%;
}

#menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    
    }
    body .catalog-filter-search{
        display:flex;
        width:12vw;
        padding-bottom: 3px;
        align-items: center;
    }
    .submenu{
        border-bottom:1px solid #707070;
    }
    #menu-demo2 li{
    display:inline-block;
    position:relative;
    }

    #menu-demo2 li a {
    color: #323231 !important;
    }

    #menu-demo2 li:hover a {
        color: white !important;
    }

    #menu-demo2 ul li{
    display:inherit;
    }
    
    #menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .4s all .0s;
    -webkit-transition: .4s all .0s;
    transition: .4s all .0s;
    }
    #menu-demo2 li:hover ul{
    max-height:15em;
 
    
    }
    /* background des liens menus */
    #menu-demo2 li:hover ul li{
        /* padding:5px; */
    }
    #menu-demo2 li {
    background-color: white;
    padding-top:2vh;
    }
    /* background des liens sous menus */
    #menu-demo2 li li{
    background:#733450;
    color: white;
    width:100%;
    }
    /* background des liens menus et sous menus au survol */
    #menu-demo2 li:hover, #menu-demo2 li:hover{
    background:#733450;
    
    }

    #menu-demo2 li:hover, #menu-demo2 a:hover{
        color: white;
    }
    /* les a href */
    #menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
    }
    #menu-demo2 ul a{
    padding:8px 0;
    }
    #menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
    }
    #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
    color:#000;
    }
    


header #menu-demo2 li {
    background-color: #F9E76E;
    width: 200px;
}

header #menu-demo2:hover li {
    background-color: #733450;
}

header #menu-demo2 li li {
    display: flex;
}

header #menu-demo2 li a {
    font-size: 15px;
}

/* header #menu-demo2, #menu-demo2 ul {
    width: 200px;
} */

header #menu-demo2 img {
    width: 20px;
    height: 20px;
}

body .aimeos .product .text-list h2{
    text-transform: none;
}
body .catalog-list-items{
display:flex;
}
body .left_menu{
    width:20%;
    border-right: 2px solid #733450;
    padding-right:1.5%;
    height:fit-content;
    
}
body .left_menu .sub{
   
}
body .left_menu h3{
    color:#733450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.4em;
    text-decoration: underline;
}
body .left_menu .sub div{
    display: flex;
   margin:1vh 0;
   justify-content: space-between;
    align-items: center;
}

body .catalog-filter-tree,
body .catalog-filter-supplier,
body .supplier-lists,
body .catalog-filter-attribute,
body .catalog-list-type{
    display:none;
}


body .attributes .attr-name{
    color:#733450;
    padding-bottom:5px;
    width:fit-content;
    border-bottom: 1px solid #733450;
    text-transform: capitalize;
   margin-bottom:10px;
   margin-top:15px;
}
.attr-short{
    color:black;
}


.aimeos .addbasket .buttons_product input{
    background-color: transparent;
    border-color:lightgray;
    margin-right:2%;
    width:2vw;
    height:5vh;
}


body .aimeos .addbasket .btn {
    border-radius: 5px;
}
body .buttons_product .add_panier{
    margin-top:2vh;
}
.aimeos .catalog-detail-basket .input-group .btn{
    width:auto;
    margin-top:20px;
    font: 400 15px system-ui;
    padding:10px 25px;
    }

    .aimeos .catalog-detail-basket .input-group .input-lg{
        padding:0;
    }

    .catalog-detail-basket .service-intro{
        color:black;
    }
    .file_dl{
        margin:20px 0;
        cursor: pointer;
        align-items: center;
    }

    .footer_div div div:first-child{
        margin-bottom:10px;
    }

    .account-subscription .header, .account-history .header, .account-watch .header, .account-favorite .header, .basket-related-bought .header, .catalog-session .header, .catalog-detail .header{
        border-bottom:1px solid var(--purple);
    }